{% extends "layout.twig" %}

{% set title="Testing Pays" %}
{% block content %}

  <div class="col-sm-10">

    <div class="col-sm-8">
      <div class="row margin-top">
        <div class="col-sm-12">

          <div class="form-group col-sm-12" style="height:60px;">
            <div for="processor" class="control-label col-sm-8"><h2>Checkout with</h2></div>
            <div class="col-sm-4">
              <h2><input class="btn-shadow" id="toggle-provider" type="checkbox" data-on="Realex" data-off="Testing Pays" data-onstyle="danger" data-offstyle="success" checked data-toggle="toggle"></h2>
            </div>
          </div>
          <hr width="100%" style="border-top: 1px solid black; align:left">

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form id="checkout-form" class="form-horizontal" onsubmit="return false">

            <div class="form-group">
              <label for="card-holder" class="control-label col-sm-3">First Name</label>
              <div class="col-sm-4">
                <input id="firstname" class="form-control" name="firstname" placeholder="John" type="text" id="firstname" value="Frank" required >
              </div>
            </div>

            <div class="form-group">
              <label for="card-holder" class="control-label col-sm-3">Last Name</label>
              <div class="col-sm-4">
                <input id="lastname" class="form-control" name="lastname" placeholder="McBuyer" type="text" id="lastname" value="McBuyer" required >
              </div>
            </div>

            <div class="form-group">
              <label for="cardNumber" class="control-label col-sm-3">Card Number</label>
              <div id="cardNumberDropDown" class="cardNumber dropdown col-sm-4">
                <button class="dropdown-toggle card-dropdown form-control" type="button" id="cardNumberDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="4263970000005262">4263970000005262 (00 ­ Successful)<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><a>4263970000005262 (00 ­ Successful)</a></li>
                  <li><a>4000120000001154 (101 ­ Declined)</a></li>
                  <li><a>4000130000001724 (102 ­ Referral B)</a></li>
                  <li><a>4000160000004147 (103 ­ Referral A)</a></li>
                  <li><a>4009830000001985 (200 ­ Comms Error)</a></li>
                  <li><a>5425230000004415 (00 - Successful)</a></li>
                  <li><a>5114610000004778 (101 - Declined)</a></li>
                  <li><a>5114630000009791 (102 - Referral B)</a></li>
                  <li><a>5121220000006921 (103 - Referral A)</a></li>
                  <li><a>5135020000005871 (200 - Comms Error)</a></li>
                  <li><a>374101000000608 (00 - Successful)</a></li>
                  <li><a>375425000003 (101 - Declined)</a></li>
                  <li><a>375425000000907 (102 - Referral B)</a></li>
                  <li><a>343452000000306 (103 - Referral A)</a></li>
                  <li><a>372349000000852 (200 - Comms Error)</a></li>
                </ul>
              </div>
              <span id="cardNumberInfo" class="glyphicon glyphicon-info-sign realex-info" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-title="4263970000005262 (00 - Successful)
                4000120000001154 (101 - Declined)
                4000130000001724 (102 - Referral B)
                4000160000004147 (103 - Referral A)
                4009830000001985 (200 - Comms Error)
                5425230000004415 (00 - Successful)
                5114610000004778 (101 - Declined)
                5114630000009791 (102 - Referral B)
                5121220000006921 (103 - Referral A)
                5135020000005871 (200 - Comms Error)
                374101000000608 (00 - Successful)
                375425000003 (101 - Declined)
                375425000000907 (102 - Referral B)
                343452000000306 (103 - Referral A)
                372349000000852 (200 - Comms Error)">
              </span>
            </div>

            <div class="form-group">
              <label for="expiryMonth" class="control-label col-sm-3">Expiry Month/Year</label>
              <div class="col-sm-2">
                <input id="expiryMonth" class="form-control" name="expiryMonth" placeholder="MM" value="06" required>
              </div>
              <div class="col-sm-2">
                <input id="expiryYear" class="form-control" name="expiryYear" placeholder="YYYY" value="2021" required>
              </div>
            </div>

            <div class="form-group">
              <label for="cvv" class="control-label col-sm-3">CVV</label>
              <div class="col-sm-2">
                <input id="cvv" class="form-control" name="cvv" placeholder="000" value="222" required>
              </div>
            </div>

            <div class="form-group">
              <label for="total" class="control-label col-sm-3">Total</label>
              <div class="col-sm-2">
                <input id="total" step="0.01" class="form-control" name="total" placeholder="${{total}}" value="{{total}}" type="number" required>
              </div>

              <div id="dropdown" class="dropdown currency-dropdown col-sm-2">
                <button class="btn btn-block btn-secondary dropdown-toggle" type="button" id="currencyDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="EUR">
                  EUR
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a id="EUR" href="#">EUR</a></li>
                  <li><a id="GBP" href="#">GBP</a></li>
                  <li><a id="USD" href="#">USD</a></li>
                  <li><a id="RUB" href="#">RUB</a></li>
                </ul>
              </div>
              <span id="total-info" class="glyphicon glyphicon-info-sign realex-info" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-title="Enter any amount in this field. Realex’s test system ignores the test amount."></span>
            </div>

            <div class="form-group">
              <label for="total" class="control-label col-sm-3">Converted Total</label>
              <div class="col-sm-2">
                <label id="convertedTotal" class="control-label"></label>
              </div>
            </div>

            <hr>

            <div class="form-group">
              <div class="col-sm-3"></div>
              <div class="col-sm-4">
                <button id="checkout" type="Submit" class="btn btn-primary btn-block">Checkout</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4" style="height: 101vh; background-color: #FEFEFE;">
      <div class="row margin-top">
        <div class="col-sm-12">
          <h2>API Responses</h2>
          <hr width="100%" style="border-top: 1px solid black">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="responses"></div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
