{% extends "layout.twig" %}

{% set title="Testing Pays" %}
{% block content %}

  <div class="col-sm-10">

    <div class="col-sm-8">
      <div class="row margin-top">
        <div class="col-sm-10">
          <h2>Checkout</h2>
          <hr width="100%" style="border-top: 1px solid black; align:left">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <form id="checkout-form" class="form-horizontal" onsubmit="return false">

            <div class="form-group">
              <label for="card-holder" class="control-label col-sm-3">Firstname</label>
              <div class="col-sm-6">
                <input id="firstname" class="form-control" name="firstname" placeholder="John" type="text" id="firstname" placeholder="John" value="John" required >
              </div>
            </div>

            <div class="form-group">
              <label for="card-holder" class="control-label col-sm-3">Lastname</label>
              <div class="col-sm-6">
                <input id="lastname" class="form-control" name="lastname" placeholder="Doe" value="Doe" type="text" required>
              </div>
            </div>

            <div class="form-group">
              <label for="card-Number" class="control-label col-sm-3">Card Number</label>
              <div class="col-sm-6">
                <input id="cardNumber" class="form-control" name="cardNumber" placeholder="e.g. 4319 5046 8156 3245" value="4263970000005262"  required>
              </div>
            </div>

            <div class="form-group">
              <label for="expiryMonth" class="control-label col-sm-3">Expiry Month</label>
              <div class="col-sm-2">
                <input id="expiryMonth" class="form-control" name="expiryMonth" placeholder="MM" value="06" required>
              </div>
              <label for="expiryYear" class="control-label col-sm-2">Expiry Year</label>
              <div class="col-sm-2">
                <input id="expiryYear" class="form-control" name="expiryYear" placeholder="YYYY" value="2021" required>
              </div>
            </div>

            <div class="form-group">
              <label for="cvv" class="control-label col-sm-3">CVV</label>
              <div class="col-sm-2">
                <input id="cvv" class="form-control" name="cvv" placeholder="000" value="222" required>
              </div>
            </div>

            <div class="form-group">
              <label for="processor" class="control-label col-sm-3">Checkout with</label>
              <div class="col-sm-6">
                <input id="toggle-provider" type="checkbox" data-on="Realex" data-off="Testing Pays" data-onstyle="danger" data-offstyle="success" checked data-toggle="toggle">
              </div>
            </div>



            <div class="form-group">
              <label for="total" class="control-label col-sm-3">Total</label>
              <div class="col-sm-3">
                <input id="total" step="0.01" class="form-control" name="total" placeholder="${{total}}" value="{{total}}" type="number" required>
              </div>
            </div>

            <div class="form-group">
              <label for="currency" class="control-label col-sm-3">Currency</label>
              <div id="dropdown" class="dropdown col-sm-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="currencyDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="EUR">
                  EUR
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a id="EUR" href="#">EUR</a></li>
                  <li><a id="GBP" href="#">GBP</a></li>
                  <li><a id="USD" href="#">USD</a></li>
                  <li><a id="RUB" href="#">RUB</a></li>
                </ul>
              </div>

              <label for="total" class="control-label col-sm-3">Converted Total</label>
              <div class="col-sm-2">
                <label id="convertedTotal" class="control-label"></label>
              </div>
            </div>

            <hr>

            <div class="form-group">
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <button id="checkout" type="Submit" class="btn btn-primary btn-block">Checkout</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4 response-panel">
      <div class="row margin-top">
        <div class="col-sm-12">
          <h2>API Responses</h2>
          <hr width="100%" style="border-top: 1px solid black">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="responses"></div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
