{% extends "layout.twig" %}

{% set title="Testing Pays" %}
{% block content %}
  {% for product in products %}

    <div class="col-sm-3">
      <div class="grid-item">
        <div data-content="{{product[0]}} : ${{product[2]}}" data-html="true" class="grid-item-image">
          <img src="http://placehold.it/195x200">
        </div>
        <div class="grid-button">
          <button id="addToCart" data-content="{{product[0]}},{{product[2]}}" class="btn btn-block btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>

  {% endfor %}
{% endblock %}
