<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link href="{{ baseurl }}/assets/styles/styles.css" rel="stylesheet">
  </head>
  <body style="margin:0">

    <div class="col-sm-2 row sidebar">

      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">

          <ul class="nav navbar-nav">
            <div class="logo">
              <p style="color:white;">Logo</p>
            </div>
            <li><a href="/">Store</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/checkout">Checkout</a></li>
          </ul>

          </div>
        </div>
      </div>

      {% block content %}{% endblock %}


    {% block javascripts %}

      <!-- Include jQuery from CDN -->
      <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

      <script type="text/javascript">
        // Add an item to the cart
        $(".addToCart").on("click", function (event) {
          console.log('Add to cart');
          // Get the product information
          var data = $(this).data('content');
          data = data.split(",");

          // Add the item to the cart
          $.ajax({
            url: "/api/addtocart",
            type: "POST",
            data: {
              name : data[0],
              price: data[1],
              quantity: 1
            }
          }).done(function (res) {
            console.log(res);
            // Update the cart icon/list/total using the returned values
          }).fail(function (err) {
            console.log(err);
          });
        });
      </script>

      <script type="text/javascript">
        // Add an item to the cart
        $("#emptycart").on("click", function (event) {
          console.log('Hi');
          // Add the item to the cart
          $.ajax({
            url: "/api/emptycart",
            type: "POST",
          }).done(function (res) {
            console.log(res);
          }).fail(function (err) {
            console.log(err);
          });
        });
      </script>
    {% endblock %}

  </body>
</html>
