<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <link href="{{ baseurl }}/assets/styles/styles.css" rel="stylesheet">
  </head>
  <body style="margin:0">

    <div class="col-sm-2 row sidebar">

      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">

          <ul class="nav navbar-nav">
            <div class="logo">
              <p>Logo</p>
            </div>
            <li><a href="/">Store</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/checkout">Checkout</a></li>
          </ul>

        </div>
      </div>
    </div>

      {% block content %}{% endblock %}

    {% block javascripts %}

      <!-- Include jQuery from CDN -->
      <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

      <!-- jQuery form validation -->
      <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
      <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/additional-methods.js"></script>

      <!-- jQuery credit-card validation -->
      <script src="/javascripts/PawelDecowski/jquery.creditCardValidator.js"></script>

      <script src="/javascripts/addToCart.js"></script>
      <script src="/javascripts/checkout.js"></script>
      <script src="/javascripts/createResponse.js"></script>
      <script src="/javascripts/emptycart.js"></script>
      <script src="/javascripts/validation.js"></script>
      <script src="/javascripts/replace-dropdown.js"></script>
      <script src="/javascripts/createFunctionalResponse.js"></script>
      <script src="/javascripts/responseFunctions.js"></script>
      <script src="/javascripts/getResponseObject.js"></script>
      <script src="/javascripts/convertedTotal.js"></script>
      <script src="/javascripts/switch-processor.js"></script>
      <script src="/javascripts/setup.js"></script>

    {% endblock %}

  </body>
</html>
