/* Styling for the example application */


/* Themeing */
:root {
  --bg-color: #FFF7F5;
  --text-color: #FFF7F5;
  --primary-color: #332C29;
  --secondary-color: #FF8B38;
  --shadow: #26201E;

  --secondary-background: white;
  --danger: #DA3B37;

  --error-column-color: #D92626;
  --error-header-color: #EC9393;
  --error-body-color: #F2B3B3;
  --error-text: #7A1200;

  --success-column-color: #00BF86;
  --success-header-color: #2CEFC0;
  --success-body-color: #80F5D4;
  --success-text: #3B6264;
}

/* General styling */
body {
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--primary-color);
}
hr {
  border-top: 1px solid var(--bg-color);
}
h2 {
  color: var(--primary-color);
}
h3 {
  color: var(--primary-color);
}
h4 {
  color: var(--primary-color);
}
.no-padding {
  padding: 0;
}
.margin-top {
  margin-top: 30px;
}

/* Styling for components */
.btn {
  border-radius: 0;
  border: 0;
}
.btn-shadow {
  box-shadow: 0 0 5px var(--shadow);
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.btn-primary:focus {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.btn-secondary:hover {
  color: var(--text-color);
}
.btn-secondary:focus {
  color: var(--text-color);
}
.btn-danger {
  background-color: var(--danger);
  color: var(--text-color);
}
/* Styling for the navbar */
.navbar-default {
  height: 100vh;
  position: fixed;
  background-color: var(--primary-color);
}
.navbar-nav > li {
  text-align: center;
}
.navbar-default {
  border: 0;
  border-radius: 0;
  min-width: 150px;
}
.navbar-default .navbar-nav > li > a {
  color: var(--text-color) !important;
}
/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.sidebar {
  height: 100vh;
}
/* Styling for the logo */
.logo {
  height: 150px;
  width: 150px;
}

/* Styling for the grid items  */
.grid-item {
  margin: 15px;
  box-shadow: 0 0 5px var(--shadow);
  max-width: 195px;
}
.grid-item-image {
  height: 100%;
  width: 100%;
}
.grid-item-description {
  padding: 5px;
}

.grid-item-image:after {
  content: attr(data-content);
  position:absolute;
  width:100%;
  height:100%;
  max-width: 195px;
  max-height: 200px;
  top:15px;
  left:30px;
  background: rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s
}
.grid-item-image:hover:after {
  opacity:1;
}
.grid-item-image:after, .grid-item-image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s
}
.grid-item-image:after {
    content:'\A';
    width:100%;
    height:100%;
    max-width: 195px;
    max-height: 200px;
    top:15px;
    left:30px;
    background:rgba(0,0,0,0.6);
}
.grid-item-image:before {
    content: attr(data-content);
    width:100%;
    height: 100%;
    max-width: 195px;
    max-height: 200px;
    color: var(--text-color);
    z-index:1;
    padding:4px 10px;
    text-align:center;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.grid-item-image:hover:after, .grid-item-image:hover:before {
  opacity:1;
}

/* Styling for the cart page  */
.cart-item {
  background-color: var(--secondary-background);
  border-right: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
  margin: 5px 0;
  box-shadow: 0 0 5px var(--shadow);
  border-bottom: 0;
  height: 50px;
}
.cart-content {
  padding: 15px 0;
}
.cart-total {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Styling for the checkout page */
.response-item {
  background-color: var(--secondary-background);
  border-right: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
  margin: 15px 0;
  padding: 5px 15px;
  box-shadow: 0 0 5px var(--shadow);
  border-bottom: 0;
}
/* Classes added to the response panel */

.success > .panel-default {
  border-color: var(--success-column-color);
}
.success > .panel-default > .panel-heading  {
  background-color: var(--success-header-color);
  color: var(--success-text);
}
.success > .panel-default > .panel-heading + .panel-collapse > .panel-body {
  background-color: var(--success-body-color);
  border-color: var(--success-body-color);
  color: var(--success-text);
}

.error > .panel-default {
  border-color: var(--error-column-color);
}
.error > .panel-default > .panel-heading  {
  background-color: var(--error-header-color);
  color: var(--error-text);
}
.error > .panel-default > .panel-heading + .panel-collapse > .panel-body {
  background-color: var(--error-body-color);
  border-color: var(--error-body-color);
  color: var(--error-text);
}

.glyphicon {
  margin-right: 10px;
  padding: 0;
}
